<div class="row">
  <div class="col-sm-offset-5 col-sm-3">
    <p class="text-center text-danger" ng-show="userInfo.is_default_password">
      <span class="glyphicon glyphicon-warning-sign"></span>
      Music is not secured. Please log in with username and password "<strong>admin</strong>", then change password immediately.
    </p>

    <form name="editUserForm" novalidate ng-click="editUserForm.submitted = true">
      <div
        class="form-group"
        style="position: relative"
        ng-class="{ 'has-error': !editUserForm.username.$valid && editUserForm.submitted, success: editUserForm.username.$valid }"
      >
        <label class="col-sm-2 control-label sr-only" for="inputUsername">Username</label>
        <input
          name="username"
          type="text"
          id="inputUsername"
          required
          ng-disabled="isEdit()"
          class="form-control"
          ng-minlength="3"
          ng-maxlength="50"
          placeholder="Username"
          ng-model="user.username"
        />
        <div class="col-sm-5" style="position: absolute; top: 0; left: 100%; margin-left: 10px" ng-show="editUserForm.submitted">
          <span class="help-block" ng-show="editUserForm.username.$error.required">Required</span>
          <span class="help-block" ng-show="editUserForm.username.$error.minlength">Too short</span>
          <span class="help-block" ng-show="editUserForm.username.$error.maxlength">Too long</span>
        </div>
      </div>
      <div
        class="form-group"
        style="position: relative"
        ng-class="{ 'has-error': !editUserForm.email.$valid && editUserForm.submitted, success: editUserForm.email.$valid }"
      >
        <label class="col-sm-2 control-label sr-only" for="inputEmail">E-mail</label>
        <input
          name="email"
          type="email"
          id="inputEmail"
          required
          class="form-control"
          ng-minlength="3"
          ng-maxlength="50"
          placeholder="E-mail"
          ng-model="user.email"
        />
        <div class="col-sm-12" style="position: absolute; top: 0; left: 100%; margin-left: 10px" ng-show="editUserForm.submitted">
          <span class="help-block" style="margin-right: 5px; display: inline" ng-show="editUserForm.email.$error.required">Required</span>
          <span class="help-block" style="margin-right: 5px; display: inline" ng-show="editUserForm.email.$error.email">Must be a valid</span>
          <span class="help-block" style="margin-right: 5px; display: inline" ng-show="editUserForm.email.$error.minlength">Too short</span>
          <span class="help-block" style="margin-right: 5px; display: inline" ng-show="editUserForm.email.$error.maxlength">Too long</span>
        </div>
      </div>
      <div
        class="form-group"
        style="position: relative"
        ng-class="{ 'has-error': !editUserForm.password.$valid && editUserForm.submitted, success: editUserForm.password.$valid }"
      >
        <label class="col-sm-2 control-label sr-only" for="inputPassword">Password</label>
        <input
          name="password"
          type="password"
          id="inputPassword"
          ng-required="!isEdit()"
          class="form-control"
          ng-minlength="8"
          ng-maxlength="50"
          placeholder="Password"
          ng-model="user.password"
        />
        <div class="col-sm-5" style="position: absolute; top: 0; left: 100%; margin-left: 10px" ng-show="editUserForm.submitted">
          <span class="help-block" ng-show="editUserForm.password.$error.required">Required</span>
          <span class="help-block" ng-show="editUserForm.password.$error.minlength">Too short</span>
          <span class="help-block" ng-show="editUserForm.password.$error.maxlength">Too long</span>
        </div>
      </div>
      <div
        class="form-group"
        style="position: relative"
        ng-class="{ 'has-error': !editUserForm.passwordconfirm.$valid && editUserForm.submitted, success: editUserForm.passwordconfirm.$valid }"
      >
        <label class="col-sm-2 -label sr-only" for="inputPasswordConfirm">Password (confirm)</label>
        <input
          name="passwordconfirm"
          type="password"
          id="inputPasswordConfirm"
          ng-required="!isEdit()"
          class="form-control"
          ui-validate="'$value == user.password'"
          ui-validate-watch="'user.password'"
          placeholder="Password (confirm)"
          ng-model="user.passwordconfirm"
        />
        <div class="col-sm-9" style="position: absolute; top: 0; left: 100%; margin-left: 10px" ng-show="editUserForm.submitted">
          <span class="help-block" ng-show="editUserForm.passwordconfirm.$error.validator">Password and password confirmation must match</span>
        </div>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block" ng-click="signup()" ng-disabled="!editUserForm.$valid">
          <span class="glyphicon glyphicon-pencil"></span> Sign up
        </button>
        <button class="btn btn-secondary btn-block"><a href="#/login">Have an Account</a></button>
      </div>
    </form>
  </div>
</div>
